<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Todo List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="app.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <header>
        <h1>todo<span>list</span></h1>
        <h2>A simple todo list app built with Node.js</h2>
    </header>

    <section class="form">
        <form action="#">
            <input type="text" id="todoInput" placeholder="Insert your task here..." onkeypress="handle(event)">
        </form>

    </section>

    <ul class="list" id="tasks">
    </ul>

</body>
<script src="app.js"></script>

</html>